.vs
.pdb
.idea
bin
Debug
Release
x64
.svn
.vs
.pdb
.idea
bin
Debug
Release
x64
packages
DT.dump
build
out
media
libbearcore.a
libcamcore.a
temp
classes
app-release.apk
app-debug.apk
app-*.apk
*.pdb
*.user
/projects/dt/*.aps
/tools/dt/*.aps
/projects/libcrypt.as/libcorelooper/*.aar
/projects/libhttp.as/libcorelooper/*.aar
/projects/libhttp.as/libcrypt/*.aar
.cxx
/projects/libcorelooper.as/libcorelooper/*.aar
/projects/libxml/*.aps
/bin.pclinux
/projects/wolfssl.11.22/bin.pclinux
/projects/wolfssl.11.22/bin.t21
bin.*