.vs
.pdb
.idea
bin
Debug
Release
x64
.svn
.vs
.pdb
.idea
bin
Debug
Release
x64
packages
DT.dump
build
out
media
libbearcore.a
libcamcore.a
temp
classes
app-release.apk
app-debug.apk
app-*.apk
*.pdb
*.user
/projects/dt/*.aps
